@model IEnumerable<Course_project_GYMAPP.Domain.Entity.PersonalCard>


<div class="row p-2">
    <div class="col-sm-2">
        <button onclick="showModal('../Admin/AddPersonalCard', 0)" type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Нова картка</button>
    </div>
    <div class="col-sm-7">
        <form asp-action="AddGymUser" asp-controller="Trainer" method="post">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="input-group-button-right">
                <button type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Пошук</button>
            </div>
        </form>
    </div>
</div>
<div class="tableBodyScroll">
<table class="table table-hover">
<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Ім'я</th>
        <th scope="col">Вартість</th>
        <th scope="col">Термін дії</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
    </tr>
</thead>
<tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.ID</th>
                <td>@user.Name</td>
                <td>@user.Price</td>
                <td>@user.Duration</td>
                <td><button type="submit" class="btn btn-outline-secondary" id="input-group-button-right" onclick="showModal('../Admin/GetPersonalCard', @user.ID)">Редагувати</button></td>
                <td>
                    <form method="post" asp-controller="Admin" asp-action="DeletePersonalCard" asp-route-id="@user.ID">
                        <button type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Видалити</button>
                            </form>
                </td>
            </tr>
        }

</tbody>
</table>
</div>