@model IEnumerable<Course_project_GYMAPP.Domain.Entity.User>


<div class="row p-2">
    <div class="col-sm-2">
        <button onclick="showModal('../Admin/AddUser', 0)" type="submit" class="btn btn-dark" id="input-group-button-right">Новий користувач</button>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input name="name" id="searchLineUser" type="text" class="form-control" placeholder="Пошук користувача за ім'ям" aria-label="Username" aria-describedby="input-group-button-right">
        </div>
    </div>
</div>

<div class="tableBodyScroll" id="userTable">
<table class="table table-hover">
<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Ім'я</th>
        <th scope="col">Вік</th>
        <th scope="col">Номер</th>
        <th scope="col">Термін дії абонементу</th>
        <th scope="col">Останне відвідування</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
    </tr>
</thead>
<tbody id="tableBody">
        @foreach(var user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Number</td>
                <td>@user.CardBefore</td>
                <td>@user.LastVisit</td>
                    <td><button type="submit" class="btn btn-dark" id="input-group-button-right" onclick="showModal('../Admin/GetUser', @user.Id)">Редагувати</button></td>
                <td>
                    <form method="post" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-dark" id="input-group-button-right">Видалити</button>
                    </form>
                </td>
            </tr>
        }
        
</tbody>
</table>
</div>


<script>
    document.getElementById("searchLineUser").oninput = function () {
        Search('../Admin/SearchUser', this.value, '#userTable');
    }
</script>